spring:
  datasource:
    url: jdbc:mysql://localhost:3306/dny?serverTimezone=Asia/Seoul
    username: root
    password: '0304'
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
